<div class='users_stats'>
<h1>Users Stats</h1>
<p>Users: <%= @users.count %><br></p>
<p>Projects: <%= @projects.count%></p>
<p>Words: <%= @words.count %></p>
<p>Comments: <%= @comments.count%></p>
</div>

