<% if @users.empty? %>
  There is currently no content! <a href='/projects/new'>Add your own project</a>
<% else %>
<ul>
  <% @users.each do |user| %>
  
  <li class='userblock'><%= link_to <%= user.name %>, user_projects_path(user.projects)%><br>
  <p>Projects: <%= user.owned_projects.count%></p></li>
  <% end %>
</ul>
<% end %>