<div class='sidecontent'>
  <div class='words-container'>
    <% if current_user.words.empty?%>
      You currently have no words saved!
    <% else %>
      <% current_user.words.each do |word| %>
      <div class='word-box'>
        <div class='name'><%= word.name %></div>
        <div class='name-alt'><%= word.name2 %></div>
        <div class='definition'><%= word.definition %></div>
      </div>
      <br>
      <% end %>
    <% end %>
  </div>
</div>