<div class='words'>
  <% current_user.words.each do |word| %>
    <div class='words'>
      <div class='name'><%= word.name %></div>
      <div class='name-alt'><%= word.name2 %></div>
      <div class='definition'><%= word.definition %></div>
      <%= link_to "Edit", edit_word_path(word) %>
    </div>
    <% end %>
</div>