// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// SIDEBAR

.sidecontent {
    position: absolute;
    right: 0px;
    width: 200px;
    
    border-left: 3px solid #333;
    border-right: 1px solid #333;
    border-bottom: 3px solid #333;
    padding: 10px;
    overflow: auto;
    background: #61E0EA
}

// INDEX

.projects {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  height: 100%;
  padding: 10px;
  border: solid 2px black;
  box-shadow: 2px 4px;
  background: #DEE1EB;
  border-radius: 25px;
  text-align: center;
}

.project-container {
  display: flex;
  width: 80%;
  padding: 10px;
  border: solid 1px black;
}



.titles {
  display: inline-block;
  width: 100%;
  border: solid 1px black;
  padding: 2px;
  border-radius: 50px;
}

.title {
  padding: 0px 10px;

}

.trans-title {

}

.contents {
  overflow: hidden;
}

.trns {
  overflow: hidden;
}

.owner {

}

.casing {
  margin: 10px;
  border: 2px solid black;
  background-color: #609BD8;
  border-radius: 25px;
}


