// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sidecontent {
    position: absolute;
    right: 0px;
    width: 200px;
    
    border-left: 3px solid #333;
    border-right: 1px solid #333;
    border-bottom: 3px solid #333;
    padding: 10px;
    overflow: auto;
    background: #75AF96
}

