.login-box {
  margin:auto;
  margin-top: 50px;
  width: 50%;
  height: 100%;
  padding: 20 px;
  border: solid 2px black;
  box-shadow: 2px 4px;
  background: #DEE1EB;
  border-radius: 25px;
  text-align:center;
}