<div class='topnav'>
    <a href='/'>Home</a>
    <% if current_user %>
      <div class='dropdown'>
        <button class="dropbtn"><%= current_user.name %></button>
        <div class='dropcontent'>
          <%= link_to "My Page", user_path(current_user)%>
          <%= link_to "My Words", user_words_path(current_user)%>
          <%= link_to "My Projects", user_projects_path(current_user)%>
        </div>
      </div>
      <a href='/logout'>Logout</a>
    <% else %>
      <a href='/login'>Login</a>
      <a href='/users/new'>Signup</a>
    <% end %>
    <a href='https://jisho.org/' target='_blank'>Jisho</a>
  </div>